certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.8
itsdangerous==1.1.0
jaeger-client==4.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
opentracing==2.2.0
prometheus-client==0.7.1
prometheus-flask-exporter==0.11.0
requests==2.22.0
six==1.12.0
threadloop==1.0.2
thrift==0.11.0
tornado==5.1.1
urllib3==1.25.6
Werkzeug==0.16.0
